h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  i {
    margin-right: 0.5rem;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-warning {
    color: #ffc107 !important;
  }